 #bodycontainer
 {
  background-color: black;
 }
.HLINE {
  width: 100%;
  background-color: white;
  height: 20px;
  position: relative;
  top: 50px;
}
.HLINE2 {
  width: 20%;
  margin-left: 20px;
  background-color: cornsilk;
  height: 20px;
  position: relative;
  top: 80px;
}
#bi
{
  font-size: 100px;
}
#laptop {
  width: 90%;
  color: blue;
   align-items: right;
  height: 600px;
}
..blackvline {
  background-color: black;
  opacity: 0.5;
  height: 601px;
  width: 200px;
  position: relative;
  bottom: 600px;
}
.orange_box {
  background-color: orangered;
  opacity: 0.5;
  position: relative;
  bottom: 1481px;
  left: 49px;
  height: 800px;
  width: 52%;
}

.TREND {
  background-color: orangered;
  opacity: 0.5;
  position: relative;
  top: 50px;
  width: 40%;
  padding-left: 35px;
  height: 270px;

}
